#post-form {

  .textarea-box {
    position: relative;
    width: 100%;
    margin-top: 10px;
  }

  textarea {
    box-sizing: border-box;
    resize: none;
    padding: 4px;
    border: none;
    outline: none;
    overflow: hidden;
    width: 100%;
    line-height: 40px;
    font-size: 2em;
    font-weight: lighter;
    font-family: Lato;

    @media(max-width: 1000px){
      font-size: 18px;
    }
  }

.dis-blk {
  @media (max-width: 600px) {
    display: block;

    .sub {
      margin-top: 0;

      &.blue-text-sm {
        margin: -5px 0px 10px 5px;
      }
    }
  }

  .img-box{
    width: 100px;
    height: 118px;
    padding: 10px;
    margin-right: 20px;

    @media (max-width: 600px) {
      margin: 0;
      padding: 0;
      width: auto;
      text-align: center;
    }

    img{
      position: absolute;
      z-index:10;

      @media (max-width:600px) {
        position: relative;
      }
    }
    .fa{
      position: absolute;
      z-index: 20;
      font-size: 24px;
      border-radius: 50%;
      color:$theme-gray;
      background: #ffffff;
      padding: 3px;
      box-shadow: 2px 0px 4px #d2d2d2;
      cursor: pointer;
      @include transition(all .4s ease);

      &.following{
        color: $theme-blue;
      }
    }
  }
}
#profile-section{
  .sign-out-btn{
    position: relative;
    top: 2px;
  }
}
#journal-entry{
  #title-entries {
    .input-box {
      display: inline-block;
      width: 85%;


      /*
      &:after {
        content: '\f058';
        font-family: FontAwesome;
        color: #48c000;
        display: inline-block;
        padding: 4px;
        position: relative;
        bottom: 2px;
        font-size: 22px;
      }

      */
    }
    .entry-count-box {
      float: right;
      display: inline-block;
      white-space: nowrap;
      position: relative;
      top: 32px;
      font-size: .7em;
      color: $header-gray;
      font-weight: bold;
      @media (max-width: 551px) {
        top: unset;
        bottom: 60px;
        width: 100%;
        text-align: center;
      }
      .count-num {
        color: $theme-green;
      }
    }
  }
  .icon-date-box{
    width: 100%;
    border-top: 2px solid darken($theme-gray, 5%);
    border-bottom: 2px solid darken($theme-gray, 5%);
    padding: 10px 10px 10px 0px;

    .date {
      display: inline-block;
      color: darken($theme-gray, 20%);
    }
   .fa-calendar-o {
     color: darken($theme-gray, 20%);
   }
  }
  .mce-toolbar-grp {
    background-color: #ffffff !important;
    background-image: none !important;
  }
  .mce-btn {
    background-color: transparent;
    border: none !important;
  }
  #mceu_12-body {
    border-bottom: 2px solid darken($theme-gray, 5%);
    position: relative;
    bottom: 5px;
  }
  .mce-panel {
    border: none !important;
  }
  label{
    @extend .theme-font;
      display: inline;
    font-size: .8em;
    margin-bottom: 4px;

    @media (max-width:768px) {
    float:left;
    width:100px; }

  }
  input{
    &.title{
      border: none;
      font-size: 1.5em;
      padding: 15px 15px 15px 0px;
      outline: none;
      font-weight:bold;
      background: $theme-white;
      width: 100%;
      @media (max-width: 552px) {
        padding-bottom: 0;
      }
    }
  }
  select{
    width: 100%;
    padding: 7px;
    margin-top: 10px;
    @extend .theme-font;
  }

  #range-box{
    .drop-status-col {
      padding-right: 0;
      .clearfix {
        display: inline-block;
      }
      .save-btn-box {
        font-size: 22px;
        width: 100%;
        text-align: right;
        vertical-align: middle;
        position: relative;
        bottom: 4px;

        @media (max-width: 767px) {
          text-align: center;
          right: 18px;
        }
        i {
          color: $theme-green;
        }
        .save-btn{
          padding: 5px 40px;
          background: $theme-blue !important;
          border-radius: 3px;
          background: none;
          border: none;
          -webkit-box-shadow: none;
          -moz-box-shadow: none;
          box-shadow: none;
          display: inline-block;
          @media (max-width: 600px) {
            margin: 15px 0 0 0;
          }
        }
      }
    }
  }
  .updater-box{
    display: none;
    text-align: right;
    background: #e9ebef;
    padding: 5px 10px;
    border-radius: 3px;
    margin-bottom: 3px;

    .updater{
      font-size: 16px;
      color: darken($body-gray, 25%);
      font-weight: bold;
    }
  }
}
#journal-posts{
  .content{
    @include transition(all .4s ease);
    overflow: hidden;

    span {

    }
    p{
      margin-left: 0px;
    }
    @media (max-width:768px) {
      margin: 20px 20px 20px 20px;
    }
  }
  .emotion{
    color: darken($theme-gray, 10%);
    width: 66px;
    @media(max-width: 614px) {
      display: none;
    }
    i{
      font-size: 75px;
      color: $theme-gray;
      @media (max-width:992px) {
        padding-right: 10px;
      }
    }
    @media (max-width:768px) {
      text-align: center;
    }
  }
  .content-box{

    .table{
      margin-bottom: 0px !important;
    }
    .title{
      font-weight:bold;
      font-size: 32px;
      padding: 0 15px;
      max-width: 150px;

      @media (max-width:992px) {
        padding:0;
        margin:0;
        font-size: 1.2em;
        font-weight: bold;
        text-align: left;
      }
      @media(max-width: 400px) {
        font-size: .9em;
      }
    }
    .date{
      padding-top: 4px;
      color: darken($theme-gray, 10%);
      position: relative;
      text-align: right;
      right: 15px;
      @media (max-width:768px) {
        padding:0;
        margin-top: 0px;
        font-size: .7em;
      }
    }
    .content{
      @extend .theme-font;
      @media (max-width:1200px) {
        margin: 0 0 15px 0 !important;
      }
      p {
        @media (max-width: 1200px){
          padding: 0;
          margin-top: 10px;
        }

        @media (min-width: 991px) {
          padding-left: 15px;
        }
      }
    }
  }
}
#comments-section{
  margin-top: -20px;
  hr{
    margin: 20px 0;
  }
  .comment-editor{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0 20px;
    &.comment-response-box{
      display: inherit;
      text-align: justify;
      padding: 10px;
      position: relative;
      right: 7px;
    }
    .form-control{
      @media (max-width:768px) {
        text-align: center;
      }
    }
    .input-box{
      margin: 1px 15px;
    }
    .table{
      margin: 8px;
      background-color: transparent;
      @media (max-width:768px) {
        margin: 0;
      }

      .cell{
        &.person{
        }
        &:nth-child(1){
          width:15%;
        }
        &:nth-child(3){
          width:75%;
        }
        &:nth-child(3){
          width:10%;
        }
        @media (max-width: 767px) {
          width: 100% !important;
          display: block;
          clear: both;
        }
      }
      img{
        max-width: 40px;
        max-height: 40px;
        border-radius: 50%;
        display: block;
        float: right;

        @media (max-width: 767px) {
          float: none;
          margin: 15px auto;
        }
      }
      input{
        padding:19px 15px;
        -webkit-border-radius:0;
        -moz-border-radius:0;
        border-radius:0;

        &.btn{
          padding:10px 25px;
          @media (max-width: 767px) {
            margin: 15px auto;

          }
        }
      }
      button{
        -webkit-border-radius:0px 4px 4px 0px;
        -moz-border-radius:0px 4px 4px 0px;
        border-radius: 0px 4px 4px 0px;

        @media (max-width: 767px) {
          margin: 15px auto;
        }
      }
    }
  }


  #interact{
    i.action-btn,a{
      cursor: pointer;
      color: darken($theme-gray, 10%);
      font-size: .9em;
      margin-top: 0;

      &.liked *{
        color: $theme-blue;
      }
    }
    .input-group{
      width: 100%;
    }
  }
  .show-more,.show-more-content{
    color: darken($theme-gray, 10%);
    float: right;
    display: inline-block;
    margin: 0 15px;
    cursor: pointer;
    font-size: 1.1em;
    position: relative;
    z-index:70;
    @include transition(all,.3s ease);

    &.on{
      @include rotate(180);
    }
  }
}
.other-comments {
  padding:0 20px;
  @media (max-width:768px) {
    padding: 0;
  }
  .main-comment-box{
    @media (max-width: 768px) {
      padding: 0 10px;
    }
  }
  .comment-of-comment{
    .reply-box{
      .c2c-count{
        .pagination-box{
          .pagination{
            margin: 0;
            padding-left: 20px;
          }
        }
      }
    }
  }
  .table{
    margin-bottom: 0px;
    background-color: transparent;

    @media (max-width:768px) {
      text-align: left;
    }
    @media (max-width:768px) {
      display: block;
    }
    .person{
      min-width: 132px;
      width: 15%;

      .table{
        @media (max-width:768px) {
          margin-bottom: 0;
          display: block;
          width: 100%;
        }
        .cell{
          @media (max-width:768px) {
            display: block;
            width: 100%;
          }
          img{
            max-width: 100px;
            max-height: 100px;
            border-radius: 50%;
            padding-right: 5px;

            @media (max-width:768px) {
              max-width: 50px;
              padding-right: 0px;
              display: block;
              margin:20px auto 7px auto;
            }
          }
          &.name{
            min-width: 78px;
            @extend .theme-font;
            font-weight: bold;
            color: $theme-blue;
          }
        }
      }
      .box{
        width: 79px;
        max-width: 79px;
        float: none;
        text-align: center;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        margin: auto;

        img{
          width: 30px;
          height: 30px;
          float: none !important;
          margin:auto !important;
        }
        .blue-text-sm{
          font-size: 14px;
        }
      }
    }
    .comment{
      color: darken($theme-gray, 25%);
      padding-top: 10px;

      @extend .theme-font;
      font-weight: 400;
      font-size:.9em;
      position: relative;
      top: 21px;

      @media (max-width:768px) {
        display: block;
        width: 100%;
        position: relative;
        top: 10px;
        padding: 15px;
        text-align: center;
      }
    }
    .reply-comment{
      padding-top: 0;
      padding-bottom: 15px;
    }
  }
}
#like-share{
  padding: 15px;
  text-align: left;

  @media (max-width:768px) {
    padding: 15px;
    text-align: center;
  }
  a,i{
    color: darken($theme-gray, 20%);
    font-size: .9em;
    margin: 6px 0;
    display: inline-block;
  }
  i{
    margin: 0 1px 0 6px;
    font-size: .5em;
    position: relative;
    top: -3px;
  }
  a{
    cursor: pointer;

    &.liked{
      font-weight: bold;
      color: $theme-blue;
    }
  }
}
.btn{
  &.see-more{
    margin: 10px;
    text-transform: uppercase;
  }
}
}