Options +FollowSymLinks
RewriteEngine on

DirectoryIndex index.php
RewriteBase /hopetracker/
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

## Chatroom ##
RewriteRule ^chats/$ /chatroom/index.php [L,QSA]

## Password Reset
RewriteRule ^rpd/([^/]+)?  index.php?page_url=rpd/reset-password [L,QSA]
#RewriteRule ^rpd/?  index.php?page_url=home [L,QSA]

## Inspriation ##
RewriteRule ^addiction-quotes/?$ index.php?page_url=inspiration-v1 [L,QSA]
RewriteRule ^addiction-quotes/([^/]+)/([^/]+)/?$ index.php?page_url=inspiration-v1&folder=$1&filename=$2 [L,QSA]

## Page Masks URLS
RewriteRule ^families-of-drug-addicts/$ index.php?page_url=the-community-v1 [L,QSA]

## Page Home URLS
RewriteRule ^home/([^/]+)/?$ index.php?page_url=home&homeVar=$1 [L,QSA]

## Hope Tracker Admin ##
RewriteRule ^admin/$ HopeAdmin/index.php [L,QSA]
RewriteRule ^admin/([^/]+)/?$ HopeAdmin/index.php?page_url=$1 [L,QSA]
RewriteRule ^admin/([^/]+)/([^/]+)/?$  HopeAdmin/index.php?page_url=$1&widget_page=$2 [L,QSA]

RewriteRule ^chat-mods/([^/]+)/?$  index.php?page_url=$1&chat_mod=true [L,QSA]
RewriteRule ^profile/$ index.php?page_url=journal-v1&profileActive=1 [L,QSA]
RewriteRule ^profile/user-([^/]+)/([^/]+)/?$ index.php?page_url=journal-v1&userId=$1 [L,QSA]

## Conditions with page variables ##
RewriteRule ^([^/]+)/$ index.php?page_url=$1 [L,QSA]
RewriteRule ^protected/([^/]+)/?$  index.php?page_url=$1&protected=true [L,QSA]
RewriteRule ^protected/([^/]+)/([^/]+)/?$  index.php?page_url=$1&protected=true&page_controller=$2 [L,QSA]

## Journal Page ##
RewriteRule ^families-of-drug-addicts/user-([^/]+)/([^/]+)/?$ index.php?page_url=journal-v1&userId=$1 [L,QSA]
RewriteRule ^families-of-drug-addicts/user-([^/]+)/([^/]+)/([^/]+)/?$ index.php?page_url=journal-v1&userId=$1&entry_type=$3 [L,QSA]
RewriteRule ^profile/user-([^/]+)/course/([^/]+)/?$ index.php?page_url=journal-v1&userId=$1&entry_type=$2 [L,QSA]
##RewriteRule ^families-of-drug-addicts/([^/]+)/([^/]+)/?$ index.php?page_url=journal-v1&journal_id=$1 [L,QSA]
RewriteRule ^families-of-drug-addicts/journal-([^/]+)/([^/]+)/?$ index.php?page_url=journal-v1&journal_id=$1 [L,QSA]


## Forum Page ##
RewriteRule ^family-of-drug-abuser/([^/]+)/?$ index.php?page_url=family-of-drug-abuser&category=$1 [L,QSA]
RewriteRule ^family-of-drug-abuser/([^/]+)/([^/]+)/?$ index.php?page_url=family-of-drug-abuser&category=$1&subcategory=$2 [L,QSA]

## Old single forum post rule ##
RewriteRule ^forum/([^/]+)/([^/]+)/([^/]+)/?$ index.php?page_url=forum-single&forum_id=$2 [L,QSA]

## Old single forum post rule ##
RewriteRule ^forum/([^/]+)/?$ index.php?page_url=forum-single&pageIdentifier=$1 [L,QSA]

RewriteRule ^forum-reply/([^/]+)/([^/]+)/([^/]+)/?$ index.php?page_url=forum-single&reply_id=$1&forum_id=$2 [L,QSA]

## Conditions with trailing backslashes ##
RewriteCond %{REQUEST_URI} !(/$|\.)
RewriteRule (.*) %{REQUEST_URI}/ [R=301,L]
ErrorDocument 404 /index.php?page_url=404


## Redirects ##
#Redirect 301 /inspiration/ /addiction-quotes/

Redirect 301 /the-community-v1/ /families-of-drug-addicts/
Redirect 301 /inspiration-v1/ /addiction-quotes/


<IfModule mod_headers.c>
  <FilesMatch "\.(ttf|ttc|otf|eot|woff|woff2|font.css|css|js)$">
    Header set Access-Control-Allow-Origin "*"
  </FilesMatch>
</IfModule>
<FilesMatch "\.(jpg|jpeg)$">
FileETag MTime Size
</FilesMatch>

