#forum-single{
  .post{
    @media (max-width: 1570px){
      font-size: 16px;
    }
    @media (max-width: 1450px){
      font-size: 14px;
    }
    @media (max-width: 1450px){
      font-size: 14px;
    }
    .headings{
      background: $theme-gray;
      overflow: auto;

      ul{
        list-style:none;

        li{
          display: inline-block;
          font-size: 1.3em;

          .li-label{
            display: inline-block;
            padding: 18px;
            font-weight: bold;

            @media (max-width: 1570px){
              padding: 21px;
            }
            @media (max-width: 1450px){
              padding: 23px;
            }
            @media (max-width: 600px){
              padding: 7px;
            }
          }
          &.category{
            background: $theme-blue;
            color:#ffffff;

            @media (max-width: 600px){
              display: block;
              text-align: center;
              padding: 15px;
              font-size: 1.7em;
            }

            .li-label{
              margin-right: -29px;

              @media (max-width: 600px) {
                margin-right: 0;
              }
            }

            &:after {
              content: "";
              width: 0;
              height: 0;
              border-top: 34px solid transparent;
              border-bottom:34px solid transparent;
              border-left: 25px solid $theme-blue;
              position: relative;
              float: right;
              right: -25px;
              display: inline-block;

              @media (max-width: 600px){
                display: none;
              }

            }
          }
          &.subcategory{
            @media (max-width: 600px){
              text-align: center;
              display: block;
              padding: 15px;
            }
            .li-label{
              margin-left: 14px;
            }
          }
          &.post-count-moderator{
            width: 35%;
            margin: 9px 15px 0 15px;
            float: right;

            @media (max-width: 1350px){
              display: block;
              overflow: auto;
              background: #f3f3f3;
              margin: 0px;
              padding: 15px;
              width: 100%;
            }

            .profile-img{
              margin-right: 15px;

              @media (max-width: 450px){
                margin-right: 5px;

                display: none;
              }
            }

            .post-count-label{
              margin-right: 5px;
              margin-top: 1px;
              font-size: 22px;
              color: $text-accent-gray;

              @media (max-width: 450px){
                font-size: 16px;

              }
              .count-box{
                width: auto;
                margin-right: 5px;
                height: auto;

                &.count-box:after {
                  top: 5px;
                }
              }
            }
            .post-moderator{
              float: right;

              @media (max-width: 1350px){
                float: right;
              }

              .moderator-label{
                font-size: .8em;
                color: $text-accent-gray;
                display: block;
                line-height: 72%;
                @media (max-width: 450px){
                  margin-top: 6px;
                }

              }
              .moderator-name{
                color: $theme-blue;
                display: block;
                font-size: .9em;
                font-weight: bold;
              }
            }
          }
        }
      }
    }
  }
  #main-post{
    .headings{
      padding: 25px 0;

      @media (max-width: 767px){
        padding: 15px 0;
        text-align: center;
      }

      .star{
        display: inline-block;
        margin-right: 5px;
        color:$text-accent-gray;
        float: left;
        font-size: 1.2em;
        position: relative;
        top: 2px;

        &.liked{
          color: $theme-blue;
        }

        @media (max-width: 768px){
          float: none;
        }
      }
      .title{
        display: inline;
        font-size: 1.2em;
        font-weight: bold;
      }
      .edit-action{
        display: inline-block;
        font-size: 14px;
        color:$text-accent-gray;
        float: right;
        margin-top: 5px;
        cursor: pointer;

        &:before{
          content: '\f040';
          font-family: "FontAwesome";
          color:$theme-blue;
          margin-right: 5px;
          cursor: pointer;

        }
      }
    }
    .created-date{
      font-weight:bold;

      @media (max-width: 768px){
        text-align: center;
        margin-bottom: 13px;
        color:$text-accent-gray;
      }
    }
    .emotions{
      float: right;

      @media (max-width: 768px){
        float: none;
        text-align: center;
      }
      @media (max-width: 450px){
        font-size: 14px;
      }

      .numbers{
        color: $theme-blue;
        font-weight: bold;
      }
      .emotion-labels{
        color: $text-accent-gray;

        &:after{
          content: '|';
          margin-left: 5px;

        }
        &:last-of-type:after{
          content: '';
          display: none;
        }
      }
    }
    .content{
      margin-top: 40px;
      @media (max-width: 768px){
        margin-top: 10px;
      }
      p{
        text-align:justify;
        margin-bottom: 0;
      }
    }
  }
  #user-action-post{
    .commenter{
      img{
        display: inline-block;
        float: left;
      }
      .author{
        color:$text-accent-gray;

        .author-name{
          color:$theme-blue;
          font-weight: bold;
        }
        .date{
          @media (max-width: 768px) {
            display: block;
            margin-top: 4px;
          }
        }
      }
    }
    .post-user-action{
      color: $text-accent-gray;
      text-align: right;
      float: right;

      @media (max-width: 768px) {
        text-align: left;
      }

      .post-like,.report-post{

        &:before{
          margin-right: 3px;
          display: inline-block;
          font-family: "FontAwesome";
        }
      }
      .post-like,.report-post{
        cursor: pointer;
        &:before{
          content: '\f087';
        }
      }
      .report-post{
        &:before{
          content: '\f11d';
        }
      }
      .post-like{
        &.liked{
          color: $theme-blue;

          &:before{
            content: '\f164' !important;
          }
        }
      }
    }
  }
  .pagination-box{
    text-align: center;
  }
  #reply-box{
    .form-box{
      form{
        .success-box{
          margin-bottom: 15px;
          display: none;
        }
        textarea{
          resize: vertical;
          min-height: 100px;
          border-radius: 0;
          padding: 15px;
          font-weight: 16px;
        }
        .btn{
          float: right;
          margin-top: 20px;
        }
      }
    }
  }
}