@import "constants";

#journal-main.media{
  background: $theme-blue;
  font-size: 14px;
}
#journal-main .media p{
  background: $theme-blue;
  font-size: 14px;
}
#journal-main .media span{
  background: $theme-blue;
  font-size: 14px;
}
#journal-main .media h1{
  background: $theme-blue;
  font-size: 14px;
}
#journal-main .media h2{
  background: $theme-blue;
  font-size: 14px;
}


#journal-main{
  .media {
    background: $theme-blue;
    font-size: 14px;

    p{
      font-size: 2%;
    }
    span{
      color:yellow
    }
  }
}